/* SweetAlert */
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
  text-align: center;
}

.swal-button {
  border-radius: 5px;
  background-color: #4962b3;
  font-size: 16px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-text {
  font-size: 18px;
}

/* Other */
.btn {
  border: 5px salmon solid;
  padding: 0 15px 10px 15px;
  border-radius: 10px;
  font-size: 50px;
}

#btn-p {
  position: absolute;
  top: 40%;
  left: 45%;
}
